:root {
    --clr-primary-soft-red: hsl(10, 79%, 65%);
    --clr-primary-cyan: hsl(186, 34%, 60%);
    --clr-neutral-dark-brown: hsl(25, 47%, 15%);
    --clr-neutral-medium-brown: hsl(28, 10%, 53%);
    --clr-neutral-cream: hsl(27, 66%, 92%);
    --clr-neutral-very-pale-orange: hsl(33, 100%, 98%);
    --fw-normal: 400;
    --fw-bold: 700;
}

body {
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    background-color: var(--clr-neutral-cream);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
}

h1 {
    font-size: 30px;
    color: var(--clr-neutral-dark-brown);
}

h2 {
    font-size: 24px;
    padding-top: 5px;
}

p {
    font-size: 16px;
}

article {
    width: 350px;
}

/* Balance */
.balance {
    display: flex;
    justify-content: space-between;
    background-color: var(--clr-primary-soft-red);
    color: var(--clr-neutral-very-pale-orange);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.logo {
    align-self: center;
    display: flex;
}

.circleBorder {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    outline: 2px solid var(--clr-neutral-very-pale-orange);
    outline-offset: -2px;
    background-color: transparent;
    z-index: 1;
}

.circleFull {
    margin-left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: var(--clr-neutral-dark-brown);
    z-index: 0;
}

/* Expenses chart */
.expenses {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-neutral-very-pale-orange);
    border-radius: 15px;
    padding: 20px;
}

.expenses > * {
    color: var(--clr-neutral-medium-brown);
}

.spending {
    border-bottom: 2px solid var(--clr-neutral-cream);
    padding-bottom: 20px;
}
.spending > h2 {
    color: var(--clr-neutral-dark-brown);
}

.chart {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 5px;
}

.column {
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.column > .bar {
    width: 30px;
    background-color: var(--clr-primary-soft-red);
    border-radius: 3px;
}

.column > .day {
    font-size: 12px;
    padding-top: 10px;
}

.column > .tooltip {
    background-color: var(--clr-neutral-dark-brown);
    color: var(--clr-neutral-very-pale-orange);
    border-radius: 3px;
    margin-bottom: 5px;
    font-size: 12px;
    padding: 2px;
    font-weight: var(--fw-bold);
    visibility: hidden;
}

.mon {
    height: 50px;
}

.tue {
    height: 100px;
}

.column > .wed {
    height: 150px;
    background-color: var(--clr-primary-cyan);
}

.thu {
    height: 89px;
}

.fri {
    height: 67px;
}

.sat {
    height: 124px;
}

.sun {
    height: 74px;
}

.total {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
}

.column:hover > .tooltip {
    visibility: visible;
}

.column:hover > .bar {
    opacity: 50%;
}

/* Expenses legende */

.legend {
    display: flex;
    justify-content: space-between;
}

.total > * {
    flex-basis: 100%;
}

.total > p {
    color: var(--clr-neutral-medium-brown);
}

.thisMonth {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.lastMonth {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.lastMonth > * {
    margin: 0;
}

.description     {
    color: var(--clr-neutral-medium-brown);
}

.percentage {
    color: var(--clr-neutral-dark-brown);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}